<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30">
    <title>Mapa</title>
</head>
<body>
    <!-- Adicione a imagem ou logotipo no topo -->
    <div style="text-align: lelt; padding: 10px;">
        <img src="https://novoportal.itaguai.rj.gov.br/@@obter_logo_portal/logo.png" alt="Logotipo" style="width: 150px; height: auto;">
    </div>

    <!-- Adicione o mapa HTML gerado pelo Folium -->
    {% include 'map.html' %}
</body>
</html>

