<!-- navbar.html -->

<nav class="navbar navbar-expand-lg navbar-dark bg-secondary fixed-top">
    <div class="container">
        <a class="navbar-brand mr-auto" href="/">
            <img src="https://novoportal.itaguai.rj.gov.br/@@obter_logo_portal/logo.png" alt="Logotipo" height="36">
        </a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/obtertodos_veiculos">Lista de Veículos</a>
            </li>

        </ul>
    </div>
</nav>
